* {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  background: #000;
  font-size: 32px;

  .mb-20 {
    margin-bottom: 20px;
  }
}



.container {
  margin: 0 auto;
  width: auto;
  height: 100vh;
  text-align: center;

  .video {
    width: 100vw;
    height: 100vh;
  }

  .startButton {
    background: #000;
    color: #a6a6a6;
    width: 100vw;
    height: 100vh;
    border: none;
    outline: none;
    cursor: pointer;

    span {
      font-size: 0.7em;
    }

    .space {
      background: #111;
      width: 200px;
      height: 55px;
      border: 1px solid #333;
      border-radius: 3px;
      margin: 10px auto;
    }
  }

  .question {
    color: #c9c8c8;
  }

  .clear {
    color: #03a4f9;
  }

  .typeFormWrapper {
    border-bottom: 1px solid #9a9a9a;
    width: 100%;
    margin: 0 auto;

    .typeForm {
      width: 100%;
      border: none;
      outline: none;
      text-align: center;
      color: #fff;
      background: none;
    }
  }

  .gaugeHeadline {
    color: #fff;
    position: absolute;
    top: 10vh;
    left: 50vw;
    transform: translate(-50%, 0);
  }

  .gaugeWrapper {
    width: 100vw;
    border: 1px solid;
    height: 100vh;
    position: absolute;

    .gauge {
      height: 100vh;
      transition: all .5s ease;
    }
  }
}

.main {
  position: relative;
  background: #3e3e3e;
  width: 100vw;
  height: 100vh;

  .bg {
    position: absolute;
  }

  .front {
    position: absolute;
    width: 50vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .frontWrapper {
      background: lightblue;
      width: 50vw;
      position: relative;

      .timer {
        background: #eee;
        border-radius: 50%;
        position: absolute;
        font-weight: bold;
        color: #222;
        width: 90px;
        height: 90px;
        z-index: 3;
        top: -150px;
        font-size: 30px;
        line-height: 3;
        left: 50%;
        transform: translate(-50%, 0);
        border: 2px solid #fff;
      }

      .type {
        position: absolute;
        background: rgba($color: #111, $alpha: 0.7);
        border: 1px solid #333;
        padding: 60px 10vw 40px;
        border: 2px solid #8b8b8b;
        border-radius: 7px;
        width: 40vw;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        span {
          color: #535353;
        }
      }
    }
  }
}

#js-speed {
  display: none;
}
@media screen and (max-width:480px) {
  body {
    display: none;
  }
}