<% content_for :title do %>
    タイピング大会
<% end %>
<% content_for :stylesheet do %>
    <%= stylesheet_link_tag "home/main", "data-turbo-track": "reload" %>
<% end %>
<% content_for :javascript do %>
    <%= javascript_include_tag 'home/main', 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="container" style="margin: 50px 0 0 50px;">
    <h1>main</h1>
    <br>
    <form action="">
        speed
        <input type="text" id="js-speed">
    </form>
    <br>
    <p id="js-button" >next</p>
    <br>

    <% @articles.each do |articles| %>
        <%= articles.speed %>
    <% end %>
    <br>

    <input type="hidden" name="js_speeds_json" value= <%= @js_speeds_json %> id='js_speeds_json' >
</div>
