<% content_for :title do %>
    タイピング大会
<% end %>
<% content_for :meta do %>
  <meta http-equiv="refresh" content="10; URL=https://schoolaniversary2022.herokuapp.com/view"><% end %>
<% content_for :font do %>
      <link
      href="https://fonts.googleapis.com/css?family=Teko"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap"
      rel="stylesheet"
    />
<% end %>
<% content_for :stylesheet do %>
    <%= stylesheet_link_tag "home/view", "data-turbo-track": "reload" %>
<% end %>
<% content_for :javascript do %>
    <%= javascript_include_tag 'home/view', 'data-turbolinks-track': 'reload' %>
<% end %>

<header>
    <a href="/">
      <div class="headerTitle">
        <div class="container"><h2>TECH.<span>C</span>.</h2></div>
        <div class="container">
            <h3>CREATORS FES</h3>
            <p>20<span>22</span></p>
        </div>
      </div>
    </a>
</header>

<div class="header2">
  <h1>タイピング大会</h1>
  <p><span>403</span>教室で開催中！</p>
</div>

<article class="ranking">
  <%# <div class="rank_head">
    <div class="rank">ランク</div>
    <div class="name">名前</div>
    <div class="score">スコア</div>
    <div class="gift">景品</div>
  </div> %>

  <div id="js-container">
  
  <% @articles.each do |articles| %>

  <section class="container">
    <div class="back">
      <div class="back-color"></div>
      <div class="back-black"></div>
      <div class="text">
        <div class="rank">4</div>
        <div class="name"><%= articles.name %></div>
        <div class="score"><%= articles.speed %></div>
        <div class="gift"></div>
      </div>
    </div>
  </section>
<% end %>

  </div>



</article>
